
.heading {
	font-size: 300%;
	text-align: center;
	font-weight: bold;
}

.subheading {
	font-size: 175%;
	text-align: center;
}

hr.headings {
	height: 3px;
	color: black;
	background-color: black;
	width: 10%;
}

.app {}

.app .name {
	font-size: 1.5em;
	font-weight: bold;
}

.app .download {
	font-variant: small-caps;
}

.app .desc {
	font-style: italic;
	margin-left: 5em;
}

.app p {
	margin-left: .5em;
}