
.heading {
	font-size: 300%;
	text-align: center;
	font-weight: bold;
}

.subheading {
	font-size: 175%;
	text-align: center;
}

hr.headings {
	height: 3px;
	color: black;
	background-color: black;
	width: 10%;
}
